<!-- <app-login />
<app-register /> -->


<!-- <div class="grid-bg"></div>
<div class="gradient-overlay"></div>
<div class="scanlines"></div> -->

<!-- <div class="shapes-container">
    <div class="shape shape-circle"></div>
    <div class="shape shape-triangle"></div>
    <div class="shape shape-square"></div>
</div> -->

<!-- <div id="particles"></div> -->

<!-- <app-header />
<app-main />
<router-outlet />
<app-footer /> -->





<!-- <div class="app">
    <div class="inner_app">
        <app-header />
        <app-message />
        <app-login />
        <app-register /> 
        <main class="route-container">
            <router-outlet #outlet="outlet"></router-outlet>
        </main>
        <app-footer />
    </div>
</div>  -->  
<div class="app">

    <div class="inner_app">

        <!-- WEBSITE ALWAYS OPEN -->

        <app-header></app-header>

        <app-message></app-message>

        <app-login></app-login>

        <app-register></app-register>

        <main class="route-container">
            <app-carousel
            *ngIf="showCarousel">
          </app-carousel>
            <router-outlet #outlet="outlet"></router-outlet>

        </main>

        <app-footer></app-footer>

        <!-- GAME POPUP -->

        <app-gamelaunch
            class="game-popup"
            *ngIf="gameVisible">
        </app-gamelaunch>

    </div>

</div> 


<div
  class="custom-toast"
  *ngIf="toastData"
  [class.error]="toastData.type === 'error'"
  [class.success]="toastData.type === 'success'"
>

  <i
    class="fas"
    [class.fa-circle-check]="toastData.type === 'success'"
    [class.fa-circle-xmark]="toastData.type === 'error'"
  >
  </i>

  <span>
    {{ toastData.message }}
  </span>

</div>

<div class="deposit-popup-backdrop" *ngIf="showDepositPopup">
  <div class="deposit-popup">

    <div class="popup-header">
      Payment Notification
    </div>

    <div class="popup-body">
      NOTIFICATION SENT TO YOUR MOBILE.<br>
      PLEASE COMPLETE YOUR PAYMENT.
    </div>

    <div class="popup-footer">
      <button
        type="button"
        class="popup-btn"
        (click)="closeDepositPopup()">
        OK
      </button>
    </div>

  </div>
</div>